*{
  margin: 0px;
  padding: 0px;
}
h1,h2,h3,h4,p, a {
  text-decoration: none;
}
.navbar {
  background-color: rgb(236, 159, 88);
  position: static;
  height: max-content;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.container-fluid {
  display: flex;
  flex-direction: row;
}
.navbar-brand {
  color: black;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  margin-left: -100px;
  margin-top: 20px;
}
.navbar-collapse{
  margin-left: 1400px;
}
.logo{
  text-decoration: none;
}
.menu-link{
  text-decoration: none;
  color: black;
  margin-right: 10px;
}
.logo-rk{
  width: 45px;
  height: 45px;
  border-radius: 20px;
  margin-right: 5px;
}

.fondo-carousel {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.imagen1-carousel {
  width: 50%;
  
}
.imagen2-carousel {
  width: 50%;
  margin-left: 4px;
  
}
.fondo-carousel2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 660px;
}
/* ITEM */

.productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding-block: 16px;
}
.ver-mas{
  text-decoration: none;
  border: 1px solid transparent;
  padding: 5px;
  border-radius: 5px;
  background-color: bisque;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin-left:80px;
}
/* itemDetail */
.img-detalle {
  width: max-content;
  height: 400px;
  margin-top: 20px;
}
.producto-detalle{
  display: flex;
  flex-direction: row;
}
.textos-detalles{
  margin-top: 20px;
  margin-left: 30px ;
}

.count-general{
  display: flex;
  flex-direction: row;
  margin-left:100px ;
}
.item-count{
  display: flex;
  flex-direction: row;
  margin-right: 30px;
}
.signo-negativo{
  width: 20px;
  border: 0px;
  border-radius: 4px;
  margin-right: 5px;
}
.signo-cantidad{
  margin-top: auto;
  margin-bottom: auto;
}
.signo-positivo{
  width: 20px;
  border: 0px;
  border-radius: 4px;
  margin-left: 5px;
}
.agregar-al-carrito{
  border: 1px solid rgb(149, 5, 5);
  border-radius: 10px;
  background-color: rgb(251, 123, 38);
  height: 40px;
}
/* RECUADROS */
.tiposdeObras {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cuadroArte1 {
  width: 350px;
  height: 320px;
  margin-left: 85px;
  margin-top: 40px;
  background-color: white;
  position: relative;
}
.imagen-recuadro {
  width: 100%;
  height: 320px;
}
.recuadro {
  width: 90%;
  height: 80%;
  border: 1px solid rgba(0, 0, 0, 0.349);
  background-color: transparent;
  margin-top: -285px;
  margin-left: 17px;
  position: absolute;
}
.texto-tipos-obras {
  display: flex;
  justify-content: center;
  margin-top: 110px;
  font-family: "Popping";
  font-size: 20px;
  font-weight: 550;
  text-transform: uppercase;
  color: black;
}
.cuadroArte2 {
  width: 350px;
  height: 320px;
  margin-left: 50px;
  margin-top: 40px;
  background-color: white;
  position: relative;
}

.cuadroArte3 {
  width: 350px;
  height: 320px;
  margin-left: 50px;
  margin-top: 40px;
  background-color: white;
  position: relative;
}


/* carrito */
.carrito{
  text-decoration:none;
}
.titulo-principal {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
  font-weight: bold;
  color: black;
  margin-top: 20px;
}
.fondo-carrito{
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 15px;
  box-shadow: 10px 9px 5px 2px rgba(0,0,0,0.11);
  -webkit-box-shadow: 10px 9px 5px 2px rgba(0,0,0,0.11);
  -moz-box-shadow: 10px 9px 5px 2px rgba(0,0,0,0.11);
}
.imagen-carrito{
  width: 300px;
  height: max-content;
  border-radius: 10px;
}
.carrito-producto-titulo{
  margin-top:auto ;
  margin-bottom: auto;
}
small{
  margin-left: 20px;
}
.titulo-carrito{
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-top:auto ;
  margin-bottom: auto;
  margin-left: 20px;
}
.carrito-producto-precio{
  margin-top:auto ;
  margin-bottom: auto;
  margin-left: 100px;
}
.precio-carrito{
  font-family: sans-serif;
  font-size: 16px;
  color: rgb(74, 73, 73);
  margin-top:auto ;
  margin-bottom: auto;
  margin-left: 20px;
}
.carrito-producto-subtotal{
  margin-top:auto ;
  margin-bottom: auto;
  margin-left: 100px;
}
.precio-total-carrito{
  font-family: sans-serif;
  font-size: 16px;
  color: rgb(74, 73, 73);
  margin-top:auto ;
  margin-bottom: auto;
  margin-left: 20px;
}
.carrito-producto-cantidad{
  margin-top:auto ;
  margin-bottom: auto;
  margin-left: 50px;
}
.cantidad-carrito{
  font-family: sans-serif;
  font-size: 16px;
  color: rgb(74, 73, 73);
  margin-top:auto ;
  margin-bottom: auto;
  margin-left: 38px;
}
.carrito-producto-eliminar{
  border: 0;
  background-color: transparent;
  margin-top:auto ;
  margin-bottom: auto;
  margin-left: 200px;
}
.eliminar-logo{
  width: 24px;
  height: max-content;
  
}
.total-de-compra{
  display: flex;
  flex-direction: column;
  justify-content:flex-end ;
  margin-left: 1050px;
  margin-bottom: 20px;
}
.vaciar-finalizar-compra{
  margin-left: 20px;
}
.boton-vaciar{
  border: 0px;
  border-radius: 5px;
  margin-right: 10px;
  padding: 3px;
  background-color: antiquewhite;
}
.link-finalizar-compra{
  text-decoration: none;
  color: black;
  background-color: antiquewhite ;
  padding: 3px;
  border-radius: 5px;
}
.carrito-vacio{
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-bottom: 598px;
}
.ningun-producto{
  margin-bottom: 0px;
}

/* Checkout */
.checkout{
  background-color: rgb(253, 195, 119);
  height: 815px;
  padding: 20px;
  padding-top: 50px;
  margin-left: -1000px;
}
.formulario{
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  margin-left: 290px;
}
.relleno-form{
  display: flex;
  flex-direction: row;
}
.input-from{
  border: 0px;
  margin-left: 4px;
  padding: 5px;
  border-radius: 6px;
}
.texto-from{
  color: black;
  font-family: sans-serif;
  font-size: 20px;
  margin-left: 40px;
  margin-top: 100px;
}
.enviar{
  border: 0px;
  border-radius: 5px;
  background-color: rgb(236, 159, 88);
  margin-left: 10px;
}
.codigo-compra{
  margin-top: 50px;
}
.detalle-final-compra{
  margin-bottom: 635px;
}
/* CONTACTO */
 .fondo-contacto{
  background-color: rgb(248, 171, 70);
  width: 60%;
  height: 729px;
  padding: 20px;
  padding-top: 30px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-left: auto;
  margin-right: auto;
 }
/* SOBRE NOSOTROS */
.sobre-nosotros{
  background-image: url('https://images.pexels.com/photos/1266808/pexels-photo-1266808.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -20px;
}
.titulo-sobre-nosotros{
text-align: center;
margin-top: 20px;
font-size: 40px;
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
color: black;
}
.sub-sobre-nosotros{
  background-color: black;
  width: 100%;
  height: 60px;
  margin-top: 40px;
}
.subtitulo{
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  text-align: center;
  padding-top: 20px;
}
.mapa-qsomos{
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.mapa{
  border-radius: 15px;
  margin-left: 300px;
}
.quienes-somos{
  width: 500px;
  margin-left: 50px;
}
.titulo-quienes-somos{
  font-family: 'Times New Roman', Times, serif;
  font-size: 26px;
  font-weight: bold;
  color: white;
}
.text-qsomos{
  color: rgb(255, 255, 255);
  font-size: 18px;
  margin-top: 20px;
  font-weight: 400;
}
.obras-importantes{
  margin-top: 50px;
}
.texto-img{
  display: flex;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
  background-color: black;
}
.imagenes-snosotros{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  margin-left: 200px;
  padding-bottom: 50px;
}
.imagen-importante{
  width: 300px;
  height: max-content;
  border: 2px solid black;
  border-radius: 10px;
}
.imagen-importante2{
  width: 500px;
  height: max-content;
  border: 2px solid black;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 25px;
}

 /* FOOTER */
.footer {
  text-decoration: none;
  color: black;
  background-color: antiquewhite;
  height: 70px;
  display: flex;
  flex-direction: row;
}
.logo-rk2{
  width: 55px;
  height: 55px;
  border-radius: 25px;
  margin-left: 5px;
  margin-top: 8px;
}
.titulo-footer {
  font-family: sans-serif;
  font-size: 35px;
  color: black;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 4px;
}
.credito{
  margin-left: 1500px;
  margin-top: auto;
  margin-bottom: auto;
}

/* .fondo{
  height: 2900px;
  background-color: antiquewhite;
  margin-top: 50px;
} */

/* .contenedor-card{
  margin-top: 50px;
} 
.carjeta{
  height: 500px !important;
  box-shadow: 10px 11px 11px 2px rgba(0,0,0,0.21) !important;
  -webkit-box-shadow: 10px 11px 11px 2px rgba(0,0,0,0.21) !important;
  -moz-box-shadow: 10px 11px 11px 2px rgba(0,0,0,0.21) !important;
}
.imagen{
  width: 100%;
  height: 300px;
}
.btn{
  margin-left: 80px;
} */